[submodule "redefine"]
    path = themes/redefine
    url = https://github.com/EvanNotFound/hexo-theme-redefine.git

[submodule "themes/redefine"]
    path = hexo-theme-redefine
    url = https://github.com/EvanNotFound/hexo-theme-redefine.git
